/* your styles go here */
body {
	padding-top: 50px;
}

nav a {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-size: 18px;
}

nav .navbar-toggle {
  margin: 13px 15px 13px 0;
}

.navbar-brand {
  font-size: 30px;
}

nav.navbar.shrink {
  min-height: 35px;
}

nav.shrink a {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 15px;
}

nav.shrink .navbar-brand {
  font-size: 25px;
}

nav.shrink .navbar-toggle {
  padding: 4px 5px;
  margin: 8px 15px 8px 0;
}

.love {
	color: #f96666;
}

.type > p {
	padding-bottom: 5px;
}

.type > p:first-child {
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	animation: type 3s steps(70, end);
}

.type > p:nth-child(2) {
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	animation: type2 4s steps(70, end);
}

.type > p:last-child {
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	animation: type3 5.5s steps(70, end);
}

.typing {
	animation: blink 1s infinite;
}

@keyframes blink {
	to {opacity: .0;}
}

@keyframes type{ 
  0%{width:0;}
  100%{width:100;}
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes type3{
  0%{width: 0;}
  50%{width: 0;}
  75%{width: 0;}
  100%{ width: 100; } 
} 